a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    display: flex;
}

.main {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#sidebar {
    width: 200px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.sidebar-nav {
    padding: 0;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    display: block;
    white-space: nowrap;
    border-left: 3px solid transparent;
    &:hover {
        border-left: 3px solid $o-brand-primary;
        background-color: lighten($o-brand-primary, 45%);
        color: $o-brand-primary;
    }
}

.sidebar-item {
    position: relative;
}

@media (max-width: 768px) {
    #sidebar {
        display: none;
    }
}
